.abt-wrapper {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.abt-container {
    padding: 30px;
    display: block;
    float: left;
}
.dashborad-section {
    background: #fff;
    display: flow-root;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
}
.abt-wrapper img {
    max-width: 100%;
}
.dashboard-sub-heder a {
    color: #08B5CC;
}
.dashboard-sub-heder a:hover {
    color: #f6c105;
}
.abt-wrapper h1 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #08B5CC;
}
.abt-wrapper h2 {
    font-size: 1.5em;
}
.dashboard-banner .col-left h1 {
    color: #08B5CC;
    line-height: 1.1em;
}
.dashboard-banner .col-right {
    text-align: center;
    width: 50%;
    float: left;
}
.demo-link-button {
    background: #F6C105;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 13px 33px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 17px;
    transition: all ease 0.33s;
}
.demo-link-button:hover {
    background: #08b5cc;
    color: #fff;
}
.dashboard-banner .col-left {
    /*padding-top: 30px;*/
    width: 50%;
    float: left;
}
.dashboard-sub-heder {
    font-size: 17px;
    color: #908c8c;
    font-weight: 400;
    display: inline-block;
}
.image-holder {
    display: inline-block;
    padding-left: 50px;
}
.dashboard-header {
    line-height: 1.2em;
    margin-bottom: 0;
}
.dashborad-section.abt-featrues-list h1 {
    text-align: center;
    color: #08B5CC;
    margin-bottom: 33px;
    line-height: 1.2em;
    margin-top: 0;
}
.dashborad-section.abt-featrues-list table {
    text-align: left;
    border: 0;
    box-shadow: none;
}
.dashborad-section.abt-featrues-list .widefat thead tr th {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.dashborad-section.abt-featrues-list thead tr {
    background: #08b5cc;
}
.pro-link-cta {
    background: #08b5cc;
    color: #fff;
    padding: 15px 50px;
    display: block;
    margin-top: 20px;
    border-radius: 8px;
    line-height: 1.1em;
}
.cta-text h3 {
    font-size: 1.8em;
    color: #fff;
    line-height: 1.1em;
    text-transform: capitalize;
}
.cta-text {
    width: 80%;
    display: inline-block;
}
.cta-button {
    width: 20%;
    display: inline;
}
.cta-button a {
    color: #000;
    background: #f6c105;
    text-decoration: none;
    padding: 12px 35px;
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    border: 2px solid #f6c105;
}
.cta-button a:hover {
	color:#f6c105;
	background: transparent;
}
.dashborad-section.support-section {
    text-align: center;
}
.dashborad-section.support-section a.support-button {
    border: 1px solid #08b5cc;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}
.dashborad-section.support-section a.support-button span.dashicons {
    margin-right: 6px;
}
.dashborad-section.support-section a.support-button:hover {
    color: #f6c105;
    border-color: #f6c105;
}
    a.abt-admin-button {
    background: #08B5CC;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    display: inline-block;
    font-weight: 700;
    border-radius: 3px;
    transition: all ease 0.23s;
    border: 1px solid #08B5CC;
    margin:2px 6px 0 0;
}
a.abt-admin-button.btn-abt-notice-dismiss {
    background: transparent;
    color: #08B5CC;
}
a.abt-admin-button:hover,
a.abt-admin-button.btn-abt-notice-dismiss:hover{
    color: #fff;
    background:#EFB905;
    border-color: #EFB905;
}
.abt-notice-layout {
    border: 0 !important;
    border-left: 4px solid #08B5CC !important;
    padding-left: 70px!important;
    overflow: hidden !important;
}
.alley-icon {
    width: 56px;
    float: left;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(143, 229, 241, 0.2);
    text-align: center;
    padding-top: 13px;
}
.abt-notice-layout  .notice-content {
    padding: 10px 0 15px;
}
.abt-notice-layout  h3 {
    font-size: 15px;
    color: #1D2328;
    margin: 0;
}
.abt-notice-layout p {
    font-size: 14px;
    margin: 10px 0 !important;
    color: #3C434A;
}
.abt-notice-layout .notice-dismiss:before{
    content: '\f335';
    font-size: 22px;
}
.dashboard-banner{
    min-height: 100%;
    display: flex;
    flex-direction: row;
}
.dashboard-banner > div{
    flex: 1;
}
.dashboard-banner .equal-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-holder{
    text-align: left;
    padding: 15px;
    border: 2px solid #f0f0f1;
    max-width: 280px;
    border-radius: 5px;
    line-height: 1.3;
    margin: 15px;
}
.card-holder h2{
    color: #08B5CC;
    margin-top: 0;
}
.card-holder .cta-button a{
    background: #2596BE;
    border-color: #2596BE;
    color: #fff;
}
.card-holder .card-footer{
    margin-top: 30px;
    text-align: center;
}
.card-holder .cta-button a:hover{
    color: #fff;
}
.card-holder p{
    display: flex;
    padding: 5px;
}
.card-holder strong{
    float: left;
    flex: calc(100% - 50px);
    padding-right: 15px;
}
.card-holder span{
    float: left;
    flex: 50px;
}

@media(max-width:1440px){
	.dashborad-section {
    padding: 30px;
}
}
@media(max-width:767px) {
    .dashboard-banner .col-left,
    .dashboard-banner .col-right {
        width: 100%;
    }

    .image-holder {
        padding-left: 0;
        margin-top: 20px;
    }

    .pro-link-cta {
        padding: 15px 20px;
    }
}